@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.active {
    color: #ee3131;
    padding-bottom: 12px;
    border-bottom: 1px solid #ee3131;
}

button.slick-next::before {
    background-color: #fff;
    content: '\2B9E';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-weight: 400;
    color: #151515;
    border-radius: 6px
}

button.slick-prev::before {
    background-color: #fff;
    content: '\2B9C';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-weight: 400;
    color: #151515;
    border-radius: 6px
}

button.slick-prev {
    left: 20px;
    z-index: 1;
    top: 40%;
}

button.slick-next {
    top: 40%;
    right: 50px
}