@import "react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    color: #505050;
    font: 400 14px/1.45 Poppins;
}

.active {
    color: #ee3131;
    padding-bottom: 13.5px;
    border-bottom: 1px solid #ee3131;
}

button.slick-next::before {
    background-color: #fff;
    content: '\2B9E';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-weight: 400;
    color: #151515;
    border-radius: 6px
}

button.slick-prev::before {
    background-color: #fff;
    content: '\2B9C';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-weight: 400;
    color: #151515;
    border-radius: 6px
}

button.slick-prev {
    left: 20px;
    z-index: 1;
    top: 40%;
}

button.slick-next {
    top: 40%;
    right: 50px
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 10px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 20px;
}


.custom-feature .my-masonry-grid {
    margin-left: -10px;
}

.custom-feature .my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 0px;
}